.linktxts{
    color: #291571 !important;
}
.linktxts:hover{
    font-weight: 600;
    border: 0px;
}
.linktxts:active{
    font-weight: 600;
    border: 0px;
}
.subcategorytxt{
    color: #291571;
    font-size: 18px;
}